<!DOCTYPE html>
<html>

<head>
    <title>Loan Approval Prediction</title>

    <style>

        body{
            font-family: Arial;
            text-align: center;
            margin-top: 100px;
            background-color: #f2f2f2;
        }

        a{
            text-decoration: none;
            background-color: #007BFF;
            color: white;
            padding: 12px 20px;
            border-radius: 5px;
        }

        a:hover{
            background-color: #0056b3;
        }

    </style>

</head>

<body>

    <h1>Loan Approval Prediction System</h1>

    <p>
        Predict whether a loan application will be approved or not.
    </p>

    <a href="/predictdata">
        Go To Prediction Page
    </a>

</body>

</html>